<% provide(:title, 'Your personal sport stat tracker') %>
<div class="center">

  <div class="pull-right" style="margin-right: 10px;margin-top: 100px;">
  <h3>Track your sports stats.</h3>

  <h2>
    Analyze your game.
  </h2>

  <h1>
    Improve.
  </h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

</div>

<div class="row" xmlns="http://www.w3.org/1999/html">



  <div class="span3" style="margin-left: 60px;">
    <h4 class="text-center">Track your stats</h4>
    <p>Keeping track of your performance in the court or in the field has never been easier.
       Record, store and access your stats on the go.  Anytime.  Anywhere.</p>
  </div>

  <div class="span1">
  </div>

  <div class="span3">
    <h4 class="text-center">Analyze your game</h4>
    <p>By keeping track of your stats, you will be able to understand how you play.
     You will discover your strengths, your weaknesses and your tendencies which will
     allow you to improve your game as never before! </p>
  </div>

  <div class="span1">
  </div>

  <div class="span3">
    <h4 class="text-center">Any sport</h4>
    <p>With basketball and football already supported and many more coming,
    StatTrack will become your favorite stat tracker for every sport. </p>
  </div>


</div>


