<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to StatHub.me</h1>

  <h2>
    This is the home page for StatHub.me
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span4">
    Free
  </div>

  <div class="span4">
    Online
  </div>

  <div class="span4">
    Now
  </div>


</div>


