<% if @user.errors.any? %>
    <%
       @error_messages = @user.errors.full_messages
       #Both ifs check if email and password field were blanks in order to eliminate other redundant errors about them
       if @error_messages.include? ("Email can't be blank")
         @error_messages.delete("Email is invalid")
       end

       if @error_messages.include? ("Password can't be blank")
            @error_messages.delete("Password is too short (minimum is 6 characters)")
       end
    %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@error_messages.count, "error") %>.
      </div>
      <ul>
        <% @error_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>