@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {

  background-color: #add8e6;

}

#content {

  background-color: white;
  border: 1px solid white;
  padding: 10px;
  -webkit-box-shadow: #666 0px 3px 8px;
  -moz-box-shadow: #666 0px 3px 8px;
  box-shadow: #666 0px 3px 8px;
  /*behavior: url(../assets/PIE.htc);
  position: relative;
  z-index: 1; */

  zoom: 1;

  filter:
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=45,strength=1),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=90,strength=2),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=135,strength=4),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=180,strength=6),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=225,strength=4),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=270,strength=3),
  progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=315,strength=2);

}


section {
  //overflow: auto;

}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  /*
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;*/
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  /*
  font-size: 1.1em;
  line-height: 1.7em; */
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


.navbar-inner {
  background-image:url('background.png');
  background-repeat: repeat;

  //Fixes problem with IE
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#navbar-link {
  color: white;
}

#search-field{
  float: left;
  height: 23px;
  margin-top: 10px;
  margin-left: 100px;

}

input::-webkit-input-placeholder {
  font-size: 75%;
}

input:-moz-placeholder {
  font-size: 75%;
}

input::-moz-placeholder {
  font-size: 75%;
}

input:-ms-input-placeholder {
  font-size: 75%;
}





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

}


/* miscellaneous */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {

  margin-right: 10px;
}


/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  @include box_sizing;
}




select {
  width: 110px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* Stats display */

.stats {
  border: 3px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
}

.user-panel {
  float: left;

  p { font-size: 85%;}
}

//Removes dotted outline on tabs after they are clicked
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
}

.alternate-row {
  //background-color: #d3d3d3;

  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.top-row{
  //background-color: #696969;

  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


  td {
    text-align: center;
    color: white;
    font-size: 125%;
    font-weight: bold;
  }

}

th {
  text-align: center;
}

.border-right {
  border-right: 1px solid #ffffff;
}



/* users search page */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
